{%extends "homepage.html" %}
    
{% block title %}
FakePinterest
{% endblock %}

{% block body %}

<h1>Perfil do Usuário: {{usuario}}</h1>

{% include "navbar.html" %}

    {% if form %}
    <form method="POST">
        {{form.csrf_token}}
        {{form.foto()}}
        {{form.botao_confirmacao()}}
    </form>
    {%endif %}

    <a href="{{ url_for('homepage')}}">Sair</a>

    {% for foto in usuario.fotos %}
        <img src = "{{ url_for('static', filename='fotos_posts/{}'.format(imagem)) }}">

    {% endfor %}

{%  endblock %}

</html>